# Node modules
client/node_modules/
server/node_modules/

# Dist
client/dist/
server/dist/

# .Env
client/.env
client/.env.local
client/.env.*
server/.env
server/.env.local
server/.env.*

# Next
client/.next/

# .History
.history/
client/.history/
server/.history/